<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sororitree</title>
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <link href="/reset.css" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/sisters">Chapter Roster</a>
        <a href="/families">View Families</a>
        <a href="/sisters/new">Add a sister</a>
        <a href="/families/new">Add a lineage</a>
    </nav>
    {{{body}}}
</body>
</html>