{{#if family}}
<h2>Update the {{family.name}} Family</h2>
Note to self: search by objectId, eventually put in slugs
<form method="POST" action="/families/{{family.id}}?_method=PUT">
    <label for="name">New Name:</label>
    <input type="text" name="name" id="name">
    <input type="submit" value="Save" class="btn btn-primary">
</form>
{{/if}}