<main>
    <h2>All Families</h2>
    <div class="families">
        <ul>
            {{#each families as |family|}}
                <li><a href="/families/{{family.id}}">{{family.name}}</a></li>
            {{/each}} 
        </ul>
    </div>
</main>