<h2>All Families</h2>
{{#if families}}
    <ul>
       {{#each families as |family|}}
            {{family.members}}
            <li><a href="/families/{{family.id}}">{{family.name}}</a></li>
        {{/each}} 
    </ul>
    
    {{#else}}
        No families to show for
    {{/else}}
{{/if}}

<a href="/families/new">Add a new lineage</a>