<h2>All Families</h2>
{{#if families}}
    <ul>
       {{#each families as |family|}}
            <li><a href="/families/{{family.name}}">{{family.name}}</a></li>
        {{/each}} 
    </ul>
    
    {{#else}}
        No families to show for
    {{/else}}
{{/if}}