<main>
    <h2>Add a new lineage</h2>

    <form method="POST" action="/families" class="new-family">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        
        <button type="submit">Submit</button>
    </form>
</main>