<h1>New lineage</h1>

<form method="POST" action="/families">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <input type="submit" value="Save" class="btn btn-primary">
</form>