    <h2>Members of the {{family.name}} Family</h2>
    <ul>
    {{#each family.members as |sister|}}
        <li><a href="/sisters/{{sister._id}}">{{sister.firstname}}</a></li>
    {{/each}}
    </ul>

    <p>
        <a href="/families/{{family.id}}/edit">Edit Family name</a>
    </p>