<main>
    <h2>Chapter Roster</h2>
    <ul>
        <div class="sisters">
            {{#each sisters as |sister|}}
                <li><a href="/sisters/{{sister.id}}">{{sister.lastname}}, {{sister.firstname}}</a></li>
            {{/each}}
        </div>
    </ul>
</main>