<main>
    <h2>Chapter Roster</h2>
    <div class="sisters">

            {{#each sisters as |sister|}}
                <li><a href="/sisters/{{sister.id}}">{{sister.lastname}}, {{sister.firstname}}</a></li>
            {{/each}}
        

    
        {{#if sisters}}
            
        {{/if}}
    </div>
</main>