<h2>Chapter Roster</h2>
{{#if sisters}}
    <ul>
    {{#each sisters as |sister|}}
        <li><a href="/sisters/{{sister.id}}">{{sister.name}}</a></li>
    {{/each}}
    </ul>
    {{#else}}
        There are currently no sisters listed.
    {{/else}}
{{/if}}
<a href="/sisters/new">Add a new sister</a>