<h2>All Sisters</h2>
{{#if sisters}}
    <ul>
    {{#each sisters as |sister|}}
        <li><a href="/sisters/{{sister.name}}">{{sister.name}}</a></li>
    {{/each}}
    </ul>
    {{#else}}
        There are currently no sisters listed.
    {{/else}}
{{/if}}