<h2>Insert a new sister</h2>

<form method="POST" action="/sisters">
    <p>
        <label for="name">Name:</label>
        <input type="text" name="firstname" id="firstname">
        <input type="text" name="lastname" id="lastname">
    </p>

    <p>
        <label for="year">Year:</label>
        <input type="text" name="year" id="year">
    </p>

    <p>
        <label for="year">Pledge class:</label>
            <select name="pledgeclass">
            <option value="alphaomicron">Alpha Omicron</option>
            <option value="alphapi">Alpha Pi</option>
            <option value="alphasigma">Alpha Sigma</option>
            <option value="alphatau">Alpha Tau</option>
        </select>
    </p>

    <p>
        <label for="family">Family</label>
        <select name="family">
            {{#each families as |family|}}
                <option value="{{family.name}}">{{family.name}}</p>
            {{/each}}
        </select>
    </p>
    
    <p>
        <input type="submit" value="Save" class="btn btn-primary">
    </p>
</form>