/* Page structure styling */
html{
    min-height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

nav{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(#ffc1cc, #e5adb7);
}

nav a{
    padding: 0 15px;
    margin: 15px 10px;
    color: #5b4549;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}

nav a:hover{
  color: #443336;
  font-style: italic;
}

.sister-options{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

/* Font styles */
h1{
    font-family: 'Cookie', cursive;
    font-size: 60px;
    text-align: center;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 20px;
}

/* SHOW Families and Sisters */

.sisters, .families{
    margin-top: 15px;
}

.sisters li, .families li{
    margin: 10px 10px;
}

/* EDIT/CREATE Families and Sisters forms */

.edit-sister, .new-sister, .edit-family, .new-family{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background:#f7efef;
    padding: 20px;
    border-radius: 3px;
}

form p{
    color: gray;
}

label{
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 5px;
}

select, input {
   margin-bottom: 20px;
}

.name{
    display: flex;
    flex-direction: row;
}

.first-name{
    grid-column: 1 / 1;
    margin-right: 5px;
}

.last-name{
    grid-column: 2 / 2;
    margin-left: 5px;
}

button, input[value="Delete"], input[value="Edit"]{
    align-self: center;
    width: 100px;
    height: 45px;
    background: #5b4549;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
}

input[value="Delete"], input[value="Edit"]{
    margin: 0 10px;
}